*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: white;
    z-index: 2;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color: #000;
}

.logo{
    font-family: 'Lexend Peta', sans-serif;
}

.logo:hover{
    cursor: pointer;
}
.navigation{
    display: flex;
    justify-content: space-between;
}

.navigation a{
    color: black;
    text-decoration: none;
}

.navigation a:hover{
    cursor: pointer;
    color: salmon;
}

.nav-link{
    padding: 20px 0px;
    margin-right: 25px;
}

.hero{
    position:relative;
    width: 100%;
    padding-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/hero-img1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hero::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4)
}

.hero h2{
    text-align: center;
    width: 60%;
    color: white;
    z-index: 1;
    font-size: 62px;
    font-weight: 600;
}

.salmon-colored{
    color: salmon;
}

.intro{
    display: flex;
    justify-content: center;
}

.intro-half{
    margin-top: 90px;
    margin-bottom: 70px;
    height: 500px;
    width: 40vw;
    box-sizing: border-box;
}

.intro-half:nth-child(1){
    margin-right: 40px;
    height: 80vh;
    overflow: hidden;
}

.intro-image{
    width: 100%;
    height: auto;
    transform: translateY(-10%);
}

.img-wrapper{
    width:100%;
    height: 230px;
    overflow: hidden;
}

.intro-image1{
    width: 100%;
    height: auto; 
}

.intro-text{
    margin-top: 20px;
}

.intro-text h2{
    font-size: 32px;
}

.intro-text p{
    margin-top: 15px;
}

.work-btn{
    margin-top: 20px;
    display : inline-block;
    padding: 13px 30px;
    border: 1px solid #000;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #000;
}

.work-btn:hover{
    cursor: pointer;
    background: #000;
    color: #fff;
    transform: scale(1.05);
}

.service{
    padding-top: 90px;
    padding-bottom: 30px;
    background-color: #ededed;
}

.service header{
    text-align: center;
    margin-bottom: 50px;
}

.wrapper{
    max-height: 320px;
    height: auto;
    overflow: hidden;
}

.service-row{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-column-gap: 5%;
    margin-bottom: 60px;
}

.service-tile{
    overflow: hidden;  
}

.service-img{
    max-width: 500px;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
}

.service-tile:hover{
    cursor: pointer;
}

.service-tile:hover .service-img{
    cursor: pointer;
    opacity: 0.75;
    transform: scale(1.1);
}

.service-tile:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 3;
}

.caption{
    position: relative;
    margin-top: 18px;
    font-size: 24px;
    padding-bottom: 18px;
}

.caption::after{
    content: "";
    position: absolute;
    width: 20%;
    left:0;
    bottom: 0;
    border-bottom: 2px solid black;
}

.clients{
    background: url("./images/sewing-machine.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
}

.clients header{
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
}

.customers-row{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-gap: 5%;
    margin-bottom: 80px;
}


.customers-tile:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 3;
}

.client-imgWrap{
    height: auto;
    width: 180px;

}

.client-imgWrap img{
    height: 100%;
    width: 100%;
}

.quote{
    font-size: 50px;
    color: #a5a5a5;
}

.client-id{
    margin-top: 30px;
    margin-bottom: 25px;
}

.client-name{
    color: salmon;
}

.client-id em{
    font-size: 14px;
}

.contact{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p{
    margin-bottom: 30px;
    width: 60%;
    font-size: 18px;
}

.contact h3{
    font-size: 38px;
}

.cta{
    position: relative;
    padding: 12px 25px;
    background: transparent;
    margin-top: 30px;
    border: 1px solid #000;
    transition: all .2s ease;
}

.cta:hover{
    cursor: pointer;
    background: #000;
    color: #fff;
    transform: scale(1.05);
}


footer{
    background: url(./images/footer-img.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-right: 12px;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    transition: all .4s ease;
}

.social-icon:hover{
    background: salmon;
    color: #fff;
    cursor: pointer;
}

.copyright-wrapper{
    margin-bottom: 50px;
}

/*Contacts section starts*/

.navigation-belt{
    position: relative;
    background: #444;
    color: #fff;
    padding-top: 90px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-weight: bold;
}

.navigation-belt p{
    position: absolute;
    right: 50px;
    bottom: 10%;
}

.address-holder{
    height: 80vh;
    display: grid;
    align-items: center;
    grid-template-columns: 8% 1fr 1fr 8%;
}

.address-wrapper{
    padding: 20px;
    height: 400px;
    width: 550px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.address-wrapper i{
    color: salmon;
    width: 30px;
    font-size: 20px;
    line-height: 32px;
    margin-right: 5px;
}

.address-city{
    font-size: 24px;
    margin-bottom: 8px;
}

.shop-name{
    font-size: 26px;
    margin-bottom: 8px;
}

#map{
    width: 100%;
    height: 400px;
    background-color: grey;
}

.shop-wrapper{
    max-height: 400px;
    max-width: 550px;
}

#shop-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
